*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;

}
html {
    margin: 0;
    padding: 0;
}

nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    height: 60px;
    background-color: #22527a;
    color: white;
}
.left-nav-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.left-nav-box i{
    font-size: 26px;
}
.left-nav-box img{
    width: auto;
    height: 60px;
    padding-right: 40px;
}
.right-nav-box{
    width: 40%;
}
nav ul {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}

nav ul li{
    cursor: pointer;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

}

nav ul li:hover{
    border-bottom: 2px solid white;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/header-background.webp);
    height: 80vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

header h1 {
    color: white;
    position: relative;
    text-align: center;
    font-size: 60px;
    font-weight: 300;
    text-transform: uppercase;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}
section {
    padding-top: 30px;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: solid 2px black;
}
p {
    width: 80%;
    margin-left: 10%;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
}
#menu{
    background-color: #f4f4f4;
}
.menu-box{
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.menu-box h3 {
    font-size: 26px;
    font-weight: 300;
}
.menu-item{
    width: 20%;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.menu-item p{
    padding: 0;
    padding-top: 10px;
    text-align: justify;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}
.menu-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drinks-box h2{
    padding-top: 40px;
    text-align: center;
}
.drinks{
    width: 100%;
    padding: 5px;
}
.drinks p {
    font-size: 22px;
    text-align: center;
}


footer{
    height: 80px;
    background: linear-gradient(45deg, rgba(136, 183, 222, 0.3), rgb(136, 183, 222));
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.left-footer {
    width: fit-content;
}
.left-footer a {
    padding: 0 30px;
    text-decoration: none;
    
    color: #22527a;
}
.left-footer a i{
    font-size: 28px;
}

@media(max-width: 1090px){
    .menu-item{
        width: 33%;
    }
}
@media(max-width: 774px){
    .menu-item{
        width: 50%;
    }
}
@media(max-width: 882px){
    nav{
        flex-direction: column;
        height: auto;
    }
    .right-nav-box{
        width: 100%;
    }

}
@media(max-width: 405px){
    nav{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .left-nav-box i{
        font-size: 22px;
    }
    .right-nav-box{
        width: 100%;
    }
    .hero-text-box h1{
        text-align: center;
        font-size: 32px;
    }
    .menu-item{
        width: fit-content;
    }
}

@media(max-width: 376px){
    .hero-text-box h1{
        text-align: center;
    }
}
