*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;

}
html {
    margin: 0;
    padding: 0;
}

nav {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    background-color: #22527a;
    color: white;
}
.left-nav-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}
.left-nav-box i{
    font-size: 26px;
}
.left-nav-box img{
    width: auto;
    height: 60px;
    padding-right: 40px;
}
.right-nav-box{
    width: 40%;
}
nav ul {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
}


nav ul li{
    cursor: pointer;
    font-size: 20px;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;

}

nav ul li:hover{
    border-bottom: 2px solid white;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/header-background.webp);
    height: 80vh;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
    position: relative;
    font-size: 44px;
    font-weight: 300;
    text-transform: uppercase;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section {
    padding-top: 30px;
}

h2 {
    font-size: 32px;
    font-weight: 300;
    padding-bottom: 20px;
    border-bottom: solid 2px black;
}
p {
    width: 80%;
    margin-left: 10%;
    font-size: 22px;
    padding-top: 20px;
    text-align: center;
}

.menu-box{
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-box h3 {
    font-size: 26px;
    font-weight: 300;
}
.menu-item{
    width: 20vw;
    padding: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.menu-item p{
    padding: 0;
    margin: 0;
    font-size: 14px;
    font-style: italic;
}
.menu-description{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.drinks-box h2{
    padding-top: 40px;
    text-align: center;
}
.drinks-box p{
    padding: 5px;
    font-size: 24px;
}